@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #005066;
  --color-on-primary: #ffffff;
  --color-primary-container: #076a85;
  --color-on-primary-container: #abe5ff;
  --color-primary-fixed: #baeaff;
  --color-on-primary-fixed: #001f29;
  --color-primary-fixed-dim: #86d0ef;
  --color-on-primary-fixed-variant: #004d62;
  --color-inverse-primary: #86d0ef;

  --color-secondary: #4d616c;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d0e6f3;
  --color-on-secondary-container: #536772;
  --color-secondary-fixed: #d0e6f3;
  --color-on-secondary-fixed: #081e27;
  --color-secondary-fixed-dim: #b4cad6;
  --color-on-secondary-fixed-variant: #364954;

  --color-tertiary: #1e532a;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #376c40;
  --color-on-tertiary-container: #b0ebb3;
  --color-tertiary-fixed: #b6f1b9;
  --color-on-tertiary-fixed: #002109;
  --color-tertiary-fixed-dim: #9bd49e;
  --color-on-tertiary-fixed-variant: #1b5128;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --color-background: #faf9fa;
  --color-on-background: #1a1c1d;

  --color-surface: #faf9fa;
  --color-on-surface: #1a1c1d;
  --color-surface-variant: #e3e2e3;
  --color-on-surface-variant: #3f484b;
  --color-surface-dim: #dadadb;
  --color-surface-bright: #faf9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f4;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e9;
  --color-surface-container-highest: #e3e2e3;
  --color-inverse-surface: #2f3131;
  --color-inverse-on-surface: #f1f0f1;
  --color-surface-tint: #006782;

  --color-outline: #6f797b;
  --color-outline-variant: #bec8cb;

  /* Fonts */
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  /* Border Radius */
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .glass-header {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .tonal-layering {
    background-color: var(--color-surface-container-low);
  }
}